body {
  background-color: #ffff;
  color: black;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  padding: 10px;
  margin: 10px;
  border: 2px solid #ededed;
  background-color: #f5f5f5;
  color: #606060;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #61dafb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4fa3d1;
}

h1 {
  margin-top: 20px;
  font-size: 24px;
}

/* Dark mode styles */
.dark-mode {
  background-color: #121212;
  color: #FFFFFF;
}

.dark-mode input,
.dark-mode button {
  background-color: #444;
  color: #FFF;
}

.dark-mode button:hover {
  background-color: #666;
}

